[submodule "bundle/vim-figitive"]
	path = bundle/vim-figitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
